<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="6"
          android:versionName="1.3.3"
          package="com.squareup.otto">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>

</manifest>
