body {
    background: #eee url('light_toast.png') repeat fixed;
    margin-top: 20px;
}

code {
    color: #707070;
}

pre.license {
    background: none;
    border: 0;
    padding: 0;
    font-size: 10px;
}

.side h1 {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 15px;
}
.side h3 {
    font-weight: normal;
    margin-bottom: 20px;
}
.side h5 {
    font-size: 12px;
    font-weight: normal;
    color: #777;
}
.side ul {
    margin-bottom: 20px;
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
}
.main h4 {
    margin-top: 30px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.main h4:first-child {
    margin-top: 0;
}
.main h5 {
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 4px;
    color: #666;
    text-transform: uppercase;
}

#ribbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
    .side {
        text-align: right;
        position: fixed;
    }
    .side ul {
        margin-bottom: 60px;
    }
    .main {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .main-inner {
        margin-left: 25px;
    }

    #ribbon img {
        position: fixed;
    }
}